@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800&display=swap');

:root{
        --ft-def: 'Overpass', sans-serif;

        --dark: #252525;
        --light: #cfcfcf;
        --white: #fcfcfc;
        --black: #050505;

        --primary: #fb8b24;
        --blue: #0466c8;
        --dark-blue: #001845;
        --grey-blue: #33415c;
        --sorta-grey: #7d8597;
        --desaturated-blue: #0353a4;
        --danger:#e5383b;
        --success: #43aa8b;

}

html{
        scroll-behavior: smooth;
        overflow: scroll;
        overflow-x: hidden;
}

::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }


*{
        font-family: var(--ft-def);
}

/* THEMES */
.light{
        background-color: var(--light);
        color: var(--black);
        transition: all 150ms linear;
}

.dark{
        background-color: var(--dark);
        color: var(--white);
        transition: all 150ms linear;
}

/* theme support */


/* basic */

.not-a-link{
        color: inherit;
}

.not-a-link:hover{
        color: inherit;
}

.fullscreen{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

#themeSelector{
        cursor: pointer;
}

#themeSelector:hover{
        color: var(--primary);
}

.theme-container{
        display: none;
}

.inline{
        display: flex;
        align-items: center;
        padding: 10px 0;
}

.navcircles{
        position: fixed;
        top: 45%;
        right: 1em;
}

.navcircles a{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        text-decoration: none;
        color: var(--sorta-grey);
}

.navcircles .label{
        opacity: 0;
        transition: opacity 100ms linear;
        margin-right: 1em;
        display: flex;
        justify-content: end;
}

.navcircles a:hover{
        color: var(--desaturated-blue);
}

.navcircles a:hover .navcircle{
        background-color: var(--blue);
}

.navcircles:hover .label{
        opacity: 1;
}

.navcircles .navcircle{
        cursor: pointer;
        width: 1em;
        height: 1em;
        border-radius: 1em;
        background-color: var(--sorta-grey);
        margin: 10px auto;
}

/* custom overrides for bootstrap */

.custom-nav-theme{
        background-color: var(--dark);
        color: var(--white);
}

.custom-nav-theme .nav-link{
        color: inherit !important;
        border-radius: 10px;
}

.custom-nav-theme .nav-link:hover{
        background-color: var(--primary) !important;
        color: var(var(--light)) !important;
}

.active{
        background-color: var(--sorta-grey) !important;
}

@media screen and (max-width:1000px) {
        .theme-container{
                display: block;
                margin-left: 10px;
        }

        .nav-link{
                padding: 10px 20px !important;
                margin: 5px auto;
        }

        .navcircles{
                display: none;
        }
}